<?xml version="1.0"?>
<config>
    <modules>
        <Koan_Seg>
            <version>1.0.0.2</version>
        </Koan_Seg>
    </modules>
    <global>
        <helpers>
            <koan_seg>
                <class>Koan_Seg_Helper</class>
            </koan_seg>
        </helpers>
        <models>
            <koan_seg>
                <class>Koan_Seg_Model</class>
                <resourceModel>koan_seg_resource</resourceModel>
            </koan_seg>
            <koan_seg_resource>
                <class>Koan_Seg_Model_Resource</class>
                <entities>
                    <batch_status>
                        <table>seg_batch_status</table>
                    </batch_status>
                </entities>
            </koan_seg_resource>
        </models>
        <blocks>
            <koan_seg>
                <class>Koan_Seg_Block</class>
            </koan_seg>
        </blocks>
        <resources>
            <koan_seg_setup>
                <setup>
                    <module>Koan_Seg</module>
                </setup>
            </koan_seg_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <koan_seg>
                <use>standard</use>
                <args>
                    <module>Koan_Seg</module>
                    <frontName>seg</frontName>
                </args>
            </koan_seg>
        </routers>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <koan_seg>
                        <class>koan_seg/observer</class>
                        <method>checkoutCartProductAddAfter</method>
                    </koan_seg>
                </observers>
            </checkout_cart_product_add_after>
            <sales_quote_item_save_after>
                <observers>
                    <koan_seg>
                        <class>koan_seg/observer</class>
                        <method>cartItemAfterSave</method>
                    </koan_seg>
                </observers>
            </sales_quote_item_save_after>
            <sales_order_place_after>
                <observers>
                    <koan_seg>
                        <class>koan_seg/observer</class>
                        <method>orderPlaceAfter</method>
                    </koan_seg>
                </observers>
            </sales_order_place_after>
        </events>
        <layout>
            <updates>
                <koan_seg>
                    <file>seg.xml</file>
                </koan_seg>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Koan_Seg before="Mage_Adminhtml">Koan_Seg_Adminhtml</Koan_Seg>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <integration>
                    <file>seg.xml</file>
                </integration>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <seg_export>
                <schedule>
                    <!--<cron_expr>*/5 * * * *</cron_expr>-->
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>koan_seg/observer::cronprocess</model>
                </run>
            </seg_export>
        </jobs>
    </crontab>
    <default>
        <koan_seg>
            <endpoint>
                <order_history>https://tracker.segapp.com/magento/%s/order-history</order_history>
                <update_customers>https://tracker.segapp.com/magento/%s/update-customers</update_customers>
                <order_placed>https://tracker.segapp.com/magento/%s/order-placed</order_placed>
            </endpoint>
            <general>
                <orders_export_batch_size>200</orders_export_batch_size>
                <customers_export_batch_size>500</customers_export_batch_size>
                <rollbar_report_params>0</rollbar_report_params>
                <export_cron_enable>1</export_cron_enable>
            </general>
        </koan_seg>
    </default>
</config>